.articleHeader {
  width: min(100%, 60em);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.readtime {
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 100;
}


.dateContainer {
    margin-left: auto;
    margin-right: 1em;
}

.date {
    font-size: 1.5em;
    font-weight: 100;
}
