.curtainMenu {
  flex-direction: column;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: var(--navbar-bg-color);
  top: calc(10vh - 2px);
  transition: 0.3s ease-in-out;
  overflow: hidden;
  transform-origin: top;
}

.curtainMenu.visible {
  height: 100vh;
}

.curtainMenu.invisible {
  height: 0;
}

@media screen and (width <= 480px) {
  .curtainMenu {
    display: flex;
  }
}

@media screen and (width >= 480px) {
  .curtainMenu {
    display: none;
  }
}

.curtainButton:first-child {
  border-top: solid var(--curtain-menu-hr-color);
}

.curtainButton {
  border-bottom: solid var(--curtain-menu-hr-color);
  position: relative;
  padding: 8px;
  font-size: 1.5em;
}

