.curtainMenu {
  flex-direction: column;
  z-index: 1;
  position: relative;
  width: 100%;
  background-color: var(--navbar-bg-color);
  top: 0;
  transition: 0.2s;
  overflow: hidden;
  transform-origin: top;
}

.curtainMenu.visible {
  height: calc(56.8px + 2 * 54.4px - 1px);
}

.curtainMenu.invisible {
  height: 0;
}

.curtainMenuContainer {
  position: fixed;
  top: calc(10vh - 2px);
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.curtainMenuContainer.visible {
  backdrop-filter: brightness(50%);
  touch-action: none;
}

.curtainMenuContainer.invisible {
  backdrop-filter: none;
  touch-action: auto;
}

@media screen and (width <= 480px) {
  .curtainMenu {
    display: flex;
  }
}

@media screen and (width >= 480px) {
  .curtainMenu {
    display: none;
  }

  .curtainMenuContainer {
    display: none;
  }
}

.curtainButton:first-child {
  border-top: solid var(--curtain-menu-hr-color);
}

.curtainButton {
  border-bottom: solid var(--curtain-menu-hr-color);
  position: relative;
  padding: 8px;
  font-size: 1.5em;
}
