@import "tailwindcss";

:root {
  --bg-color1: black;
  --bg-color2: #360045;
  --inline-code-color: darkviolet;
  --inline-code-bg-color: #22272e;
  --text-color: white;
  --tag-bg-color: purple;
  --card-color1: #800080;
  --card-color2: #008080;
  --curtain-menu-bg-color: #56006e;
  --curtain-menu-hr-color: #2e003a;
  --footer-bg-color: rgb(24, 0, 24);
  --navbar-bg-color: #56006e;
  --navbar-button-hover-color: #60017b;
  --searchbar-bg-color: #190020;
  --link-color: darkviolet;
  --card-tag-bg-color: rgb(0, 0, 0, 0.3);
  --background: #0a0a0a;
  --foreground: #ededed;
}

.lightmode {
  --bg-color1: white;
  --bg-color2: rgb(255, 185, 134);
  --inline-code-color: darkorange;
  --inline-code-bg-color: #22272e;
  --text-color: black;
  --tag-bg-color: darkorange;
  --card-color1: rgb(255, 165, 0);
  --card-color2: hotpink;
  --curtain-menu-bg-color: orange;
  --curtain-menu-hr-color: rgb(163, 90, 0);
  --footer-bg-color: rgb(220, 220, 220);
  --navbar-bg-color: orange;
  --navbar-button-hover-color: rgb(253, 184, 57);
  --searchbar-bg-color: rgb(255, 190, 110);
  --link-color: rgb(255, 111, 0);
  --card-tag-bg-color: rgb(255, 255, 255, 0.3);
  --background: #ededed;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  font-family: signika, Helvetica, sans-serif;
}
