div.intro {
  align-items: center;
  justify-content: center;
  width: min(100%, 45em);
  margin: 4em 1em 4em 1em;
}

div.text {
  float: left;
}

div.intro > img {
  float: right;
  width: 40%;
  border-radius: 1em;
  margin-left: 1em;
}

p.greeting {
  font-size: 2em;
  padding-bottom: 1em;
}

p.bio {
  font-size: 1.2em;
}
