.menuButton {
  z-index: 2;
  background-color: transparent;
  width: 10vw;
  font-size: 10vw;
}

@media screen and (width > 480px) {
  .menuButton {
    display: none;
  }
}

@media screen and (width <= 480px) {
  .menuButton {
    display: block;
  }
}
