input.searchBar {
    z-index: 2;
    background-color: var(--searchbar-bg-color);
    cursor: text;
    height: 3em;
    width: min(60%, 20em);
    padding: 1em;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
