.skill {
  display: flex;
  height: fit-content;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  align-items: center;
  transition: 1s;
}

@media screen and (width <= 480px) {
  .skill {
    flex-direction: column;
  }

  .skill > img {
    width: 40%;
    margin-bottom: 1em;
  }
}

@media screen and (width > 480px) {
  .skill.reverse {
    flex-direction: row-reverse;
  }

  .skill > img {
    width: 20%;
  }
}

.skill > p {
  align-content: center;
  text-wrap: balance;
  font-size: 1.1em;
  margin-right: 1em;
  margin-left: 1em;
}

.skill.invisible {
  opacity: 0;
  transform: translateY(20vh);
}

.skill.visible {
  opacity: 1;
  transform: none;
}
