div.timelineContainer {
  width: min(100%, 50em);
  padding-bottom: 1em;
}

div.timeline {
  display: grid;
  justify-content: left;
  grid-template-columns: auto auto 1fr;
  transition: 0.5s;
}

div.eventcard {
  height: fit-content;
  width: fit-content;
  grid-column: 3;
  background: linear-gradient(150deg, var(--card-color2), var(--card-color1));
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-radius: 1em;
  transition: inherit;
}

div.eventcard:hover {
  transform: translateY(-1em);
}

div.eventcard::before {
  transition: inherit;
  opacity: 0;
  content: "";
  position: fixed;
  inset: -5px;
  z-index: -1;
  background: linear-gradient(150deg, var(--card-color2), var(--card-color1));
  filter: blur(5px);
  border-radius: 1em;
}

div.eventcard:hover::before {
  opacity: 1;
}

div.circle {
  grid-column: 2;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: linear-gradient(150deg, var(--card-color2), var(--card-color1));
  margin: 0.5em;
  transition: inherit;
}

div.stick {
  grid-column: 2;
  width: 1em;
  height: 10em;
  margin: 0.5em;
  border-radius: 1em;
  background: linear-gradient(150deg, var(--card-color2), var(--card-color1));
  transition: inherit;
}

p.date {
  font-size: min(5vw, 1.4em);
  align-content: top;
  grid-column: 1;
  transition: inherit;
}

@media screen and (width <= 480px) {
  p.date {
    width: 15vw;
    text-align: center;
  }
}

@media screen and (width > 480px) {
  p.date {
    text-align: right;
  }
}

p.eventtitle {
  font-size: min(1.5em, 5vw);
}

p.description {
  display: inline-block;
  width: fit-content;
  text-wrap: pretty;
  font-size: min(1em, 4vw);
  text-indent: 1em;
}

p.title {
  text-align: center;
  font-size: min(20vw, 6em);
  background-image: linear-gradient(150deg, var(--card-color2), var(--card-color1));
  color: transparent;
  background-clip: text;
  transition: ease-out 0.5s;
}

.title.invisible {
  transform: translateY(20vh);
  opacity: 0;
}

.title.visible {
  transform: 0;
  opacity: 1;
}

.visible {
  transform: none;
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.eventcard.invisible {
  transform: translateY(10vh);
}

.date.invisible {
  transform: translateY(10vh);
}

.circle.invisible {
  transform: translateY(20vh);
}

.stick.invisible {
  transform: translateY(20vh);
}
